<h2>Create a new Landmark!</h2>

<form action="/landmarks" method="POST">

  <label for="landmark_name"><b>Landmark Name:</b></label>
  <input type="text" name="landmark[name]" id="landmark_name">

  <br><br>

  <label for="year_completed"><b>Year Completed:</b></label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">

  <br><br>

  <input type="submit" value="Create New Landmark">

</form>
